<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Widm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Widm.Properties.Settings>
      <setting name="DbPath" serializeAs="String">
        <value>C:/DB</value>
      </setting>
      <setting name="VerifyLogFileName" serializeAs="String">
        <value>validate/validate_log {0:yyyy-MM-dd} {0:H-mm-ss}.log</value>
      </setting>
      <setting name="ProcessLogFileName" serializeAs="String">
        <value>log/log {0:yyyy-MM-dd} {0:H-mm-ss}.log</value>
      </setting>
      <setting name="DbUpdateReportFileName" serializeAs="String">
        <value>db_update/db_update_report {0:yyyy-MM-dd} {0:H-mm-ss}.log</value>
      </setting>
      <setting name="OutputDir" serializeAs="String">
        <value>C:/WidmOutput/</value>
      </setting>
      <setting name="DbBackupFileName" serializeAs="String">
        <value>db_backup/db_backup {0:yyyy-MM-dd} {0:H-mm-ss}.mdb</value>
      </setting>
      <setting name="CreateDBBackup" serializeAs="String">
        <value>True</value>
      </setting>
    </Widm.Properties.Settings>
  </applicationSettings>
</configuration>