<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GSheetsActions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GSRecordFetching.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <GSheetsActions.Properties.Settings>
      <setting name="ClientSecretFile" serializeAs="String">
        <value>client_secret.json</value>
      </setting>
      <setting name="CredentialDir" serializeAs="String">
        <value>.credentials/sheets.googleapis.com-dotnet.json</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Google Sheets API .NET</value>
      </setting>
      <setting name="SheetConfigData" serializeAs="String">
        <value>sheetdata.json</value>
      </setting>
      <setting name="SpreadsheetsConfigData" serializeAs="String">
        <value>spreadsheets.json</value>
      </setting>
    </GSheetsActions.Properties.Settings>
    <GSRecordFetching.Properties.Settings>
      <setting name="ClientSecretFile" serializeAs="String">
        <value>client_secret.json</value>
      </setting>
      <setting name="CredentialDir" serializeAs="String">
        <value>.credentials/sheets.googleapis.com-dotnet.json</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Google Sheets API .NET</value>
      </setting>
    </GSRecordFetching.Properties.Settings>
  </applicationSettings>
</configuration>