<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagMaking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TagMaking.Properties.Settings>
            <setting name="PirmiejiMapping" serializeAs="String">
                <value>linija, kelias, km, pk, m, siule, salyginis_kodas, suvirino, tikrinimo_data, aparatas</value>
            </setting>
            <setting name="NepirmiejiMapping" serializeAs="String">
                <value>id, linija, kelias, km, pk, m, siule, salyginis_kodas, tikrinimo_data, kelintas_tikrinimas, aparatas</value>
            </setting>
        </TagMaking.Properties.Settings>
    </applicationSettings>
</configuration>